.vscode/**
.vscode-test/**
.cursor/**
src/**
test/**
dist/test/**
node_modules/**
deps/**
tsconfig.json
tsconfig.test.json
eslint.config.mjs
prettier.config.cjs
.prettierignore
.editorconfig
*.map
.gitignore
.gitmodules
.github/**
lvgl_vscode_designer_prd.md
